.Rproj.user
.Rhistory
.RData
.Ruserdata
.directory
/blogdown
.DS_Store
/public/
Thumbs.db
/resources/
/content/post/2022-03-29-scikit-learn-models-in-r-with-reticulate/python-env-test
/_drafts/
content/post/2023-12-04-re-release-traktok/videos
swap_git.sh
content/post/2024-01-15-poor-dude-s-janky-bluesky-feed-reader-cli-via-atrrr/rbsky_raw.mp4
content/post/2024-01-15-poor-dude-s-janky-bluesky-feed-reader-cli-via-atrrr/rbsky.kdenlive
content/post/2024-01-15-poor-dude-s-janky-bluesky-feed-reader-cli-via-atrrr/rbsky.mp4
content/post/2024-01-15-poor-dude-s-janky-bluesky-feed-reader-cli-via-atrrr/rbsky
content/post/2024-11-24-bluesky-rising/*.rds
