.Rproj.user
.Rhistory
.RData
.Ruserdata
.directory
/blogdown
.DS_Store
/public/
Thumbs.db
/resources/
/content/post/2022-03-29-scikit-learn-models-in-r-with-reticulate/python-env-test
/_drafts/
content/post/2023-12-04-re-release-traktok/videos
swap_git.sh
